services:
  db:
    image: postgres:15-alpine
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

  web:
    build: .
    ports:
      - "3000:80"
    depends_on:
      - db
    volumes:
      - storage:/rails/storage
    environment:
      RAILS_MASTER_KEY: ${RAILS_MASTER_KEY}
      DB_HOST: db
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    restart: always

volumes:
  storage:
  postgres_data:
